*{
    margin: auto;
    padding: 0;
}

body{
    color: white;
    font-family: sans-serif;
    background-image: url(../view-KisiselWebSitesi/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center .avatar img{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 5%;
}
.center{
    width: 600px;
    background-color: rgba(0, 0,0,0.7);
    height: 550px;
    border-radius: 2%;
}

.content{
    padding: 30px;
}
h1{
    color: wheat;

}

.content h2,p{
    font-weight: lighter;
    letter-spacing: 1px;
    margin-top: 5px;
}

.content h3{
    margin-top: 30px;
}

.social i{
    color: gray;
    padding: 0px 10px;
    font-size: 50px;
    transition: 0.4s;
}

.social i:hover{
    color: white;
}
.admin_icon{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    margin: 40px;
}
.admin_icon img{
    width: 80px;
    height: 80px;
    padding: 10px;
}
.admin_icon img:hover{
    width: 90px;
    height: 90px;
}

@media screen and (max-width:700px){
    .center{
        width: 300px;
        height: 500px;
    }
    h1{
        font-size: 22px;
    }
    h1{
        font-size: 16px;
    }
    p{
        width: 90%;
        font-size: 12px;
    }
    h3{
        font-size: 14px;
    }
    .social a i{
        font-size: 30px;
    }
}



